.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup p {
  font-size: 22px;
  max-width: 1000px;
  text-align: center;
  margin: 20px 0;
}

.Signup h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 400;
}

.Signup-form {
  border: 1px solid gray;
  width: 550px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Signup-form h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.Signup-form form {
  margin-top: 20px;
}

.Signup-form form input {
  display: block;
  width: 400px;
  padding: 8px 14px;
  font-size: 15px;
  outline: none;
}

.Signup input.first-name {
  margin-right: 20px;
}

.Signup input.email {
  margin: 20px 0;
}

.Signup input.first-name,
.Signup input.last-name {
  width: 190px;
  display: inline-block;
}

.Signup-form form button {
  padding: 11px 39px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #18a0fb;
  background-color: #18a0fb;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .Signup p {
    font-size: 20px;
    max-width: 800px;
    margin: 15px 0;
  }

  .Signup h2 {
    margin-top: 20px;
    font-size: 36px;
  }

  .Signup-form {
    width: 450px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Signup-form form {
    margin-top: 20px;
  }

  .Signup input.first-name {
    margin-right: 20px;
  }

  .Signup input.first-name,
  .Signup input.last-name {
    width: 165px;
    display: inline-block;
  }

  .Signup input.email {
    margin: 20px 0;
  }

  .Signup-form form input {
    display: block;
    width: 350px;
    padding: 8px 14px;
    font-size: 15px;
  }

  .Signup-form form button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1364px) {
  .Signup p {
    font-size: 18px;
    max-width: 700px;
    margin: 15px 0;
  }

  .Signup h2 {
    margin-top: 20px;
    font-size: 32px;
  }
}
