.Your-Team {
  width: 80%;
  margin: 0 auto;
}

.Your-Team .heading {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.Your-Team .data {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Your-Team .team-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Your-Team .team-info p {
  font-size: 14px;
}

.Your-Team .team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Your-Team .team-member {
  width: 50%;
  text-align: center;
  margin-top: 50px;
}

.Your-Team .team-member p {
  color: #9d00b7;
}

.Your-Team .team-info .showall-text {
  color: #9d00b7;
  margin-top: 2rem;
}

.Your-Team .team-member img {
  width: 100px;
  height: 100px;
}

.Your-Team .calender-data {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.Your-Team .calender {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
}

.calender-data .react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1374px) {
  .Your-Team .heading {
    font-size: 34px;
  }

  .Your-Team .team-member {
    margin-top: 20px;
  }

  .Your-Team .team-info .showall-text {
    color: #9d00b7;
    margin-top: 1rem;
  }

  .Your-Team .calender-data {
    margin-top: 20px;
    padding: 0 4rem;
  }
  .Your-Team .calender-data .calender-tile {
    width: 40px;
    height: 40px;
  }
}
