* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  width: 1600px;
  margin: 0 auto;
}
